<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TextUtils</title>
    </head>
    <body>
        <h1>Welcome to text analyzer.Enter your text below</h1>
        <form action='/analyze' method='get'>    
            <!-- here action is used with form to specify it to do a role and here we are using get function which is being linked with removepunc which we created earlier -->
            
            <textarea name='text' style='width: 470px; height: 211px;''></textarea><br>
            <!-- using name=text helps specify the text that is to be analyzed -->
            
            <input type="checkbox"  name="removepunc"> Remove Punctutaions<br>
            <button type='submit'>Analyze text</button>
            <!-- the analyze text button will take us to the removepunc page -->
            

        
        </form>


    </body>
</html>